<div class="blogcard">
    <div class="blogcard-header">{{boxTitle}}</div>
    <div class="blogcard-body">
        <form class="loginSignupForm {{formType}}">
            <div>
                <label for="inputUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp">
                <div id="usernameHelp" class="form-text">Enter your username</div>
            </div>
            <div>
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword">
            </div>
            <button type="submit" class="btn btn-primary">{{boxButtonText}}</button>
        </form>
        <a href="{{boxSwapLink}}">{{boxSwapLinkText}}</a>
    </div>
</div>