<div class="blogcard">
    <div class="blogcard-header pv-posttitle">{{boxTitle}}</div>
    <div class="blogcard-body">
        <form class="loginSignupForm {{formType}}">

            <label for="inputUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp">

            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword">

            <div class="d-grid loginSignupBtn">
                <button class="btn btn-secondary" type="submit">{{boxButtonText}}</button>
            </div>

            <p><a class="link-opacity-100 pv-link" href="{{boxSwapLink}}">{{boxSwapLinkText}}</a></p>
        </form>
    </div>
</div>