{{> pagetitle}}
<div class="d-flex align-items-center flex-column" style="min-height: 60vh; ">

    <div class="p-2">

        {{#if isDashboard}}
        {{!-- draw the dashboard with own blogs or new post --}}

        {{!-- for writing comments - do not show own posts --}}
        {{#if newPost}}
        {{>addnewpostcard}}
        {{else}}

        {{!-- not writing new post so show own blogs --}}
        {{#if (more_than_one userblogPosts)}}
        {{#each userblogPosts as |blogpost|}}
        {{!-- display it --}}
        {{>userblogpostcard}}
        {{/each}}
        {{else}}
        {{#each userblogPosts}}
        {{!-- display it --}}
        {{>userblogpostcard}}
        {{/each}}
        {{/if}}

        {{/if}}
        {{!-- finish drawing dashboad for user --}}

        {{else}}
        {{!-- not dashboard --}}

        {{#if isOne}}
        {{!-- if only 1 blogpost to show --}}

        <!-- Display one blog -->
        {{>blogpostcard}}

        {{!-- if many blogposts to show --}}
        {{#if (more_than_one comments)}}
        {{#each comments as |comment|}}
        {{!-- if many comments --}}
        {{>commentcard}}
        {{/each}}
        {{else}}
        {{#each comments}}
        {{!-- if only 1 comment --}}
        {{>commentcard}}
        {{/each}}
        {{/if}}

        {{>addcommentcard}}

        {{else}}
        {{!-- if more than 1 blogpost to show --}}

        <!-- Loop over each blogPost object -->
        {{#each blogPosts as |blogpost|}}
        {{!-- display it --}}
        {{>blogpostcard}}
        {{/each}}

        {{/if}}

        {{/if}}

    </div>

    {{#if isDashboard}}
    <div class="mt-auto p-1 ">
        <button class="newPostBtn btn" type="button">+ New Post</button>
    </div>
    <script src="/js/newPost.js"></script>
    {{/if}}
</div>